
hr{
    background-color: white;
}

.content {
  margin: 0;
  overflow: hidden;
  height:100%;
}

.profilepic{
    padding: 20px;
}

.welcome{
    padding: 20px;
}


div.leftcol {
    background: black;
    opacity: .9;
    color: white;
    position: absolute;
    top: 45px;
    left: 0px;
    overflow: scroll;
    height: 100%;
    width:100%;
}

div.middlecolumn {
    background: black;
    opacity: .9;
    color: white;
    padding: 20px;
    position: absolute;
    top: 45px;
    left: 16.666%;
    overflow-y: scroll;
    height: 100%;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

div.rightcol{
    background: black;
    opacity: .9;
    color: white;
    position: absolute;
    top: 45px;
    right: 16.666%;
    overflow-y: scroll;
    height: 100%;
    width:100%;
}

.rightmostcol{
    background: black;
    opacity: .9;
    color: white;
    position: absolute;
    top: 45px;
    right: 0;
    overflow-y: scroll;
    height: 100%;
    width:100%
}

#map{
    background:white;
    width:180px;
    height:170px
}

.viewpostdiv{
    width: 100%;
    padding: 20px;
    margin:auto;
    border-radius: 10px;
}

.viewpostdetails{
    height: 40px;
    background: #F7F9F9;
    color: black;
    padding: 5px 20px;
}

.viewpostcontents{
    height: 175px;
    width: 100%;
    background: #D0D3D4;
    color: black;
    padding: 20px;
    overflow: scroll;
}


.postactions{
    height: 40px;
    background: #F7F9F9;
    padding: 5px 20px;
}

.onlinedot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.postloader {
  position: relative;
  z-index: 3;
  left: 45%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}