 <style>
    #chatbox{
        width: 300px;
        position: absolute;
        bottom: 10px;
        right: 200px;
        z-index: 1;
    }
    #chatarea{
        height: 350px;
        background: white;
    }
    #chatboxbar{
        height: 35px;
        background: #0080ff;
    }

    #chatboxbody{
        height: 90%;
        background: white;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 10px;
        word-break:break-all;
    }

    #chatboxinput{
        height: 10%;
        background: #E6E9EA;
    }
    #chatinputtext{
        width: 77%;
    }
    #chatinputbutton{
        width: 20%;
    }

    #chat_minimize, #chat_close{
        padding-right: 10px;
    }
 </style>

<div id="chatbox" style="display: none;">
    <div id="chatboxbar">
        <div id="chatname" style="float:left; padding:5px 10px;"></div>
        <div id="chatbarbuttons" style="float: right; padding:5px 5px;">
            <button id = "chat_close" type="button" class="close" >
                <span aria-hidden="true">&times;</span>
            </button>
            <button id = "chat_minimize" type="button" class="close">
                <span aria-hidden="true">&minus;</span>
            </button>
        </div>
    </div>
    <div id="chatarea">
        <div id="chatboxbody">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div id="chatboxinput">
            <input id="chatinputtext" placeholder="Type Here!">
            <button id="chatinputbutton" type="button" class="btn btn-primary">Send</button>
        </div>
    </div>
</div>

 <script>

     minimize = document.getElementById('chat_minimize');
        minimize_div = document.getElementById('chatarea');
        minimize.addEventListener("click", function(){
            if(minimize_div.style.display != 'none')
                minimize_div.style.display =  'none';
            else
                minimize_div.style.display = 'block';
        });

        chat_close = document.getElementById('chat_close');
        chat_close_div = document.getElementById('chatbox');
        chat_close.addEventListener("click", function(){
            chat_close_div.style.display =  'none';
        });

        dragElement(document.getElementById(("chatbox")));

        function dragElement(elmnt) {
          var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
          if (document.getElementById(elmnt.id + "header")) {
            /* if present, the header is where you move the DIV from:*/
            document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
          } else {
            /* otherwise, move the DIV from anywhere inside the DIV:*/
            elmnt.onmousedown = dragMouseDown;
          }

          function dragMouseDown(e) {
            e = e || window.event;
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
          }

          function elementDrag(e) {
            e = e || window.event;
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
          }

          function closeDragElement() {
            /* stop moving when mouse button is released:*/
            document.onmouseup = null;
            document.onmousemove = null;
          }
        }

 </script>