{% extends 'defaultlayout.html' %}

    {% block body %}
        <title>{{userinfo.username}}'s Profile page</title>
        {% if 'user' in session %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'Stylesheets/style.css')}}?v=5.93">
        {% include '/_navbar.html' %}<br><br>
        <div class="content">
            <div class="row">

                <!-- This is the left most column-->
                <div class="col-md-2 leftcol">
                    <div id="leftsidecontents">
                        <div class="profilepic">
                            <strong>Profile Pic</strong><br>
                            <img src="/static/images/{{session['user'].get('profilepic')}}" height="130" width="170">

                        </div>
                        <div class="changeprofilepic well-sm" style="color:black;">
                            <button class="btn-link" data-toggle="modal"  data-target="#myModal">
                                <i class="fas fa-user-edit">&nbsp;&nbsp;Change Profile Pic</i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Modal Header</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Some text in the modal.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="LocalInfo">
                            <h4>Location Info</h4>
                            <h6>You are here @ {{weatherinfo.place}}</h6>
                            <div id="startLat">Latitude: {{weatherinfo.latitude}} Degrees</div>
                            <div id="startLon">Longitude: {{weatherinfo.longitude}} Degrees</div><br>
                            <div id="map"></div>
                        </div><hr>
                        <div class="ClimateInfo">
                            <h4>Climate</h4>
                            <div id="description">Description: {{weatherinfo.description}}</div>
                            <div id="tempmin">Min temperature: {{weatherinfo.tempmin}}˚C</div>
                            <div id="tempmax">Max temperature: {{weatherinfo.tempmax}}˚C</div>
                        </div><hr>
                            <p>Just trying to make it scroll!!!Just trying to make it scroll!!!Just trying to make it scroll!!!</p>
                            <p>Just trying to make it scroll!!!Just trying to make it scroll!!!Just trying to make it scroll!!!</p>
                            <p>Just trying to make it scroll!!!Just trying to make it scroll!!!Just trying to make it scroll!!!</p>
                            <p>Just trying to make it scroll!!!Just trying to make it scroll!!!Just trying to make it scroll!!!</p>
                            <p>Just trying to make it scroll!!!Just trying to make it scroll!!!Just trying to make it scroll!!!</p>
                            <p>Just trying to make it scroll!!!Just trying to make it scroll!!!Just trying to make it scroll!!!</p>
                            <p>Just trying to make it scroll!!!Just trying to make it scroll!!!Just trying to make it scroll!!!</p>
                            <p>Just trying to make it scroll!!!Just trying to make it scroll!!!Just trying to make it scroll!!!</p>
                            <p>Just trying to make it scroll!!!Just trying to make it scroll!!!Just trying to make it scroll!!!</p>
                    </div>
                </div>
                <!--Left column end's here!-->


                <!-- This is the middle column-->
                <div class="col-md-5 middlecolumn" onscroll="if(this.offsetHeight + this.scrollTop == this.scrollHeight){ pagescroll(this);}">

                    <div class="welcome container">
                        <h2>Welcome {{userinfo.username}}!</h2><hr>
                    </div>

                    <!--This is the post form template-->
                    {% include '/_post.html' %}<br><br>

                    <!--Recent Posts Section!-->
                    <h4>Recent Posts will appear here!</h4><hr>
                    <div id="postloader" class='postloader' style="display: none;"><br></div>
                    <div id="recentpostshead"><!--New posts will appear here--></div>
                    <div id="recentposts" class="recentposts">

                    <!--Recent Posts appear here!-->

                    </div>

                    {% include 'scrollloader.html' %}


                    <!--Recent Posts Section ends here!-->
                    <br><br>
                </div>
                <!--Middle column end's here!-->

                <!--This is the chat area-->
                <div>
                    {% include 'chatbox.html' %}
                </div>

                <!-- This is the Second right column-->
                <div class="col-md-3 rightcol">
                    <div id="rightsidecontents" style="padding: 20px; background:white; color: black;">
                        <div>
                            <h5 style="font-family: 'Jua', sans-serif; color:red; font-size: 1.3em">Acquaint Yourself</h5><hr>
                            <p>Flick through these topics, these topics are handpicked to help you to get through the internship program. All the best!</p>
                            {% include '/_acordian.html' %}
                            <br>
                            <p><strong>Note:</strong> There are many topics which you might find important and is not added in this section,
                                please feel free to suggest them to us by sending the link in the form below. Our team will view the links suggested
                                by you and will add them if we feel it is appropriate.
                            </p>
                        </div>
                    </div>
                </div>
                <!--Second Right column end's here!-->

                <!-- This is the Right most column-->
                <div class="col-md-2 rightmostcol">
                    <div id="rightmostsidecontents" style="padding: 20px;">
                        <h5>Interns Online</h5><hr>
                        {% for user in modal.UserInfo.query(): %}
                            <button class="onlinebutton" onclick="if ('{{userinfo.username}}' != '{{user.username}}')showchat('{{user.username}}')"
                                    style="width:100%;">
                                <h6 id="onlinename" style="float:left; color:black; padding:auto;">
                                    {% if user.isOnline %}
                                        <span class="onlinedot" style="background-color: green;"></span> {{user.username}}
                                    {% else %}
                                        <span class="onlinedot" style="background-color: red;"></span> {{user.username}}
                                    {% endif %}
                                </h6>
                            </button><br>
                        {% endfor %}
                    </div>
                </div>
                <!--Right most column end's here!-->
            </div>
            <!--Row div end's here-->
        </div>
        <!--Entire Page end's here-->

        <!-- If User's session is not active-->
        {% else %}
        <style>
            body{
                background-image: url('https://images2.alphacoders.com/708/thumb-1920-708647.jpg');
            }
            .session-expired{
                padding:40px;
                background: black;
                opacity: .5;
                color: white;
            }
        </style>
            <div class = "session-expired container">
                <h3>Oops! Your session has expired! You have to log in</h3>
                <a href="{{ url_for('login') }}">Log-In again!</a>
            </div>
        {% endif %}

        {% include '/_script.html' %}
    {% endblock %}