{% extends 'defaultlayout.html' %}

    {% block body %}

        {% if 'user' in session %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css')}}">
        {% include '/_navbar.html' %}
        <style>
            .welcome{
                margin: 20px;
            }
        </style>
        <div class="welcome container-fluid">
            <h2>Welcome {{username}}!</h2><hr>
            <img src="{{ url_for('static', filename = 'images/fullcreative.jpg')}}">
        </div>

        {% else %}
        <style>
            body{
                background-image: url('https://images2.alphacoders.com/708/thumb-1920-708647.jpg');
            }
            .session-expired{
                padding:40px;
                background: black;
                opacity: .5;
                color: white;
            }
        </style>
            <div class = "session-expired container">
                <h3>Oops! Your session has expired! You have to log in</h3>
                <a href="{{ url_for('login') }}">Log-In again!</a>
            </div>
        {% endif %}

    <script>
        function switchoff(){
            window.alert("Are you sure you want to log out?");
            document.location.reload();
            {{ session.pop('user', None) }}


        }
    </script>

    {% endblock %}